<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Add Student</title>
            <meta charset="UTF-8"/>
   
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
       
      <!-- See configuration in WebMvConfig.java -->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}"
                rel="stylesheet" media="screen"/>
                 
        
      <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
          
   </head>
   
   <body>      
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
      <div class="container">
         <h2>Delete Plant</h2>
         <form th:action="@{/deleteplantbyname}" th:object="${deletePlantForm}" method="POST">
           <div class="form-group">
               <label>Название растения:</label>
                <input type="text"	class="form-control"  placeholder="Введите название растения" th:field="*{plantName}" />
           </div>
            <input type="submit"  class="btn btn-success"  value="Delete"/></td>
         </form>
      </div>
   </body>
</html>